// Colors
$white: #fcfcfc;
$black: #000;
$primary: #221857;
$secondary: #8e7ee4;
/*$accent: #89e3db;*/
$accent: #a0d9ff;
/*$background: #6b58cd;*/
$background: #4693ff;
$background_light: #cbcbcb;
$border: #bfbcd1;

// Containers
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;